{% extends 'profile_maker/create.html' %}
{% block replace %}
<CENTER>
<div class="jumbotron">
  <h1 class="display-4">Hello {{ user_pr.fname }}</h1>
  <p class="lead">It's an awesome profile picture!</p>
  <hr class="my-4">
  <img src="{{ user_pr.display_picture.url }}" class="image_responsive" height="200px" width="200px">
  <p>
    <!-- {{ user_pr.display_picture.url }}<BR> -->
   You are free to explore some awesome deals Mr. {{ user_pr.fname }} {{ user_pr.lname }}</p>
</div>
</CENTER>
{% endblock %}