<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List of products</title>
</head>
<body>
    <h1> List of Products</h1>
    {% for product in Product %}
    Name : {{product.Name}} <br>
    Category : {{product.Category}} <br>
    Condition : {{product.Condition}} <br>
    Price : {{product.Price}}<br>
    <a href="edit/{{product.id}}">Edit this</a> <br>
    ======================================== <br>
    {% empty %}
       Out of stock.
    {% endfor %}
</body>
</html>