<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List of Products</title>
</head>
<body>
    <h1> List of Products</h1>
    {% for product in products %}
     Name : {{product.Name}} <br>
     Category : {{product.Category}}
     Condition : {{product.Condition}} <br>
     Price : {{product.Price}}<br>
    ======================================== <br>
    {% empty %}
        Out of stock
    {% endfor %}
</body>
</html> 